extends layout

block content
	.block-header
		h2 ЖУРНАЛ ОПЕРАЦИЙ
	.card
		.tab-content
			.body
				.table-responsive
					table#table_actions.display.js-exportable(cellspacing='0', width='100%')
						thead
							tr
								th Операция
								th Счет
								th Дата
								th Сумма
								th Комментарий
						tfoot
							tr
								th 
								th 
								th
								th
								th